{% extends 'profileIndex.html' %}
{% block title %}Biology Forum{% endblock %}

{% block heading %} <h1 class="heading-padding">Biology Discussion Page</h1> {% endblock %}
{% block body %}

{% for post in forums %}
<div class="container-fluid mt-100" id="{{ post.post_id }}">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                        <div class="media-body ml-3"> <a>{{post.username}}</a>
                          <p class="top-right-corner">Created at: {{ post.created_at }}</p>
                        </div>
                </div>
                <div class="card-body">
                    <p name="display-text">{{post.forum_message}}
                    </p>
                </div>
                <div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">

                    <div class="px-4 pt-3">
                      
                      <a class="btn btn-success" href="/likebio/{{post.post_id}}">LIKE <i class="fa-regular fa-thumbs-up"></i> ({{post.likes}})</a>
                      <a class="btn btn-danger" href="/dislikebio/{{post.post_id}}">DISLIKE <i class="fa-regular fa-thumbs-down"></i> ({{post.dislikes}})</a>
                      <!--<form action="editMessage.html" method="get">
                        <textarea type="text" name="question-input"></textarea>
                        <button type="submit" class="btn btn-warning">Edit</button>
                        href="/updated?id={{ post.post_id }}" from line 33
                      </form>-->
                      {% if post.can_edit %}
                      <!--<a class="btn btn-warning" href="/updated?id={{ post.post_id }}">Edit</a>-->
                      <!--<div class="openBtn">
                        <button class="btn btn-warning" onclick="openForm()">EDIT</button>
                      </div>-->
                      <button class="btn btn-warning" onclick="openForm({{ post.post_id }})">EDIT <i class="fa-regular fa-pen-to-square"></i></button>
                      <div class="loginPopup">
                        <div class="formPopup" id="popupForm">
                          <form action="{{ url_for('update_post', id = post.post_id )}}" method="POST" class="formContainer">
                            <h2>Edit your Message</h2>
                            <label for="question-input">Enter your question:</label>
                            <textarea type="text" name="question-input"></textarea>
                            <button type="submit" class="btn">Submit</button>
                            <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                          </form>
                        </div>
                      </div>
                      <script>
                        function openForm(id) {
                          document.getElementById("popupForm").style.display = "block";
                          document.getElementById("popupForm").querySelector("form").action="/update/"+id
                        }
                        function closeForm() {
                          document.getElementById("popupForm").style.display = "none";
                        }
                      </script>
                      {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor%}


<style>
    form.layout {
      background-color: #f2f2f2;
      padding: 20px;
      border-radius: 10px;
      margin-bottom: 20px;
      bottom: 0;
      position: relative;
      width: 77%;
      height: 200px;
    }
    
    textarea {
      width: 100%;
      height: 100px;
      padding: 10px;
      border-radius: 5px;
      border: none;
      resize: none;
    }
    
    button {
      background-color: #4caf50;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    ul {
      position: relative;
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    
    li {
      margin-bottom: 10px;
    }
</style>

<footer>
  <form class="layout" id="question-form" method="post" action="{{ url_for('displaybio') }}">
    <label for="question-input">Enter your question:</label>
    <textarea type="text" name="question-input"></textarea>
    <button type="submit">Submit</button>
  </form>
</footer>

{% endblock %}